/*.sdf
/dependencies/zeromq-4.1.3/builds/msvc/vs2013/*.sdf
/dependencies/zeromq-4.1.3/builds/msvc/vs2013/*.opensdf
/dependencies/zeromq/builds/msvc/vs2015/*.sdf
/dependencies/zeromq/builds/msvc/vs2015/*.opendb
.vs/GameAnalytics/v15/*
dependencies/zeromq/CMakeFiles/
AnalyticsViewer/cache/
AnalyticsViewer/GeneratedFiles/
build/AnalyticsViewer/Win32/
build/AnalyticsViewer/x64/
build/GameAnalytics/Win32/
build/GameAnalytics/x64/Debug/GameAnalytics.tlog/custombuild.write.1.tlog
build/GameAnalytics/x64/
build/libcurl/Win32/
build/libcurl/x64/
build/libprotobuf/Win32/
build/libprotobuf/x64/
build/TestApplication/Win32/
build/TestApplication/x64/
dependencies/zeromq/build/
dependencies/zeromq/bin/
dependencies/libcurl/vs/vc11/lib/

.vs/
UnityAnalyticsViewer/[Ll]ibrary/
UnityAnalyticsViewer/[Tt]emp/
UnityAnalyticsViewer/[Oo]bj/
UnityAnalyticsViewer/[Bb]uild/
UnityAnalyticsViewer/[Bb]uilds/
UnityAnalyticsViewer/[Ll]ogs/
UnityAnalyticsViewer/[Mm]emoryCaptures/
UnityAnalyticsViewer/.vs/
*.db

